Connected Services/ServiceReference1/InfoTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax22="http://model.cf.inf.com/xsd" xmlns:ax21="http://model.inf.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://inf.axis2/" targetNamespace="http://inf.axis2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>InfoTransfer</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.cf.inf.com/xsd">
      <xs:complexType name="ClassHour">
        <xs:sequence>
          <xs:element minOccurs="0" name="img" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="imgid" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="liveness" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="once" type="xs:int" />
          <xs:element minOccurs="0" name="similarity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="state" type="xs:int" />
          <xs:element minOccurs="0" name="takingtime" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="uniquecode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="video" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vtotal" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax23="http://model.cf.inf.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.inf.com/xsd">
      <xs:import namespace="http://model.cf.inf.com/xsd" />
      <xs:complexType name="FaceCaptureMore">
        <xs:complexContent mixed="false">
          <xs:extension base="ax23:ClassHour">
            <xs:sequence>
              <xs:element minOccurs="0" name="createTime" nillable="true" type="xs:date" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax24="http://model.inf.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://inf.axis2/">
      <xs:import namespace="http://model.inf.com/xsd" />
      <xs:element name="InfoTransferException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="InfoTransferException" nillable="true" type="ns:Exception" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="main">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="args" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetStudentSignature">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="uniquecode" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="signUrl" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetStudentSignatureResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updatePwd">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="uniquecode" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updatePwdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InvalidImg">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="faceCaptureMore" nillable="true" type="ax24:FaceCaptureMore" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InvalidImgResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DetailsBrowser">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="XTID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="FKEY" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="OUTINFO" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DetailsBrowserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetStudentScore">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="uniquecode" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="score" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetStudentScoreResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updatePrintSub">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="uniquecode" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updatePrintSubResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="updatePrintSubRequest">
    <wsdl:part name="parameters" element="ns:updatePrintSub" />
  </wsdl:message>
  <wsdl:message name="updatePrintSubResponse">
    <wsdl:part name="parameters" element="ns:updatePrintSubResponse" />
  </wsdl:message>
  <wsdl:message name="updatePwdRequest">
    <wsdl:part name="parameters" element="ns:updatePwd" />
  </wsdl:message>
  <wsdl:message name="updatePwdResponse">
    <wsdl:part name="parameters" element="ns:updatePwdResponse" />
  </wsdl:message>
  <wsdl:message name="DetailsBrowserRequest">
    <wsdl:part name="parameters" element="ns:DetailsBrowser" />
  </wsdl:message>
  <wsdl:message name="DetailsBrowserResponse">
    <wsdl:part name="parameters" element="ns:DetailsBrowserResponse" />
  </wsdl:message>
  <wsdl:message name="mainRequest">
    <wsdl:part name="parameters" element="ns:main" />
  </wsdl:message>
  <wsdl:message name="InfoTransferException">
    <wsdl:part name="parameters" element="ns:InfoTransferException" />
  </wsdl:message>
  <wsdl:message name="GetStudentScoreRequest">
    <wsdl:part name="parameters" element="ns:GetStudentScore" />
  </wsdl:message>
  <wsdl:message name="GetStudentScoreResponse">
    <wsdl:part name="parameters" element="ns:GetStudentScoreResponse" />
  </wsdl:message>
  <wsdl:message name="InvalidImgRequest">
    <wsdl:part name="parameters" element="ns:InvalidImg" />
  </wsdl:message>
  <wsdl:message name="InvalidImgResponse">
    <wsdl:part name="parameters" element="ns:InvalidImgResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentSignatureRequest">
    <wsdl:part name="parameters" element="ns:GetStudentSignature" />
  </wsdl:message>
  <wsdl:message name="GetStudentSignatureResponse">
    <wsdl:part name="parameters" element="ns:GetStudentSignatureResponse" />
  </wsdl:message>
  <wsdl:portType name="InfoTransferPortType">
    <wsdl:operation name="updatePrintSub">
      <wsdl:input wsaw:Action="urn:updatePrintSub" message="ns:updatePrintSubRequest" />
      <wsdl:output wsaw:Action="urn:updatePrintSubResponse" message="ns:updatePrintSubResponse" />
    </wsdl:operation>
    <wsdl:operation name="updatePwd">
      <wsdl:input wsaw:Action="urn:updatePwd" message="ns:updatePwdRequest" />
      <wsdl:output wsaw:Action="urn:updatePwdResponse" message="ns:updatePwdResponse" />
    </wsdl:operation>
    <wsdl:operation name="DetailsBrowser">
      <wsdl:input wsaw:Action="urn:DetailsBrowser" message="ns:DetailsBrowserRequest" />
      <wsdl:output wsaw:Action="urn:DetailsBrowserResponse" message="ns:DetailsBrowserResponse" />
    </wsdl:operation>
    <wsdl:operation name="main">
      <wsdl:input wsaw:Action="urn:main" message="ns:mainRequest" />
      <wsdl:output wsaw:Action="urn:mainResponse" message="ns:null" />
      <wsdl:fault wsaw:Action="urn:mainInfoTransferException" name="InfoTransferException" message="ns:InfoTransferException" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentScore">
      <wsdl:input wsaw:Action="urn:GetStudentScore" message="ns:GetStudentScoreRequest" />
      <wsdl:output wsaw:Action="urn:GetStudentScoreResponse" message="ns:GetStudentScoreResponse" />
    </wsdl:operation>
    <wsdl:operation name="InvalidImg">
      <wsdl:input wsaw:Action="urn:InvalidImg" message="ns:InvalidImgRequest" />
      <wsdl:output wsaw:Action="urn:InvalidImgResponse" message="ns:InvalidImgResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentSignature">
      <wsdl:input wsaw:Action="urn:GetStudentSignature" message="ns:GetStudentSignatureRequest" />
      <wsdl:output wsaw:Action="urn:GetStudentSignatureResponse" message="ns:GetStudentSignatureResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InfoTransferSoap11Binding" type="ns:InfoTransferPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updatePrintSub">
      <soap:operation soapAction="urn:updatePrintSub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePwd">
      <soap:operation soapAction="urn:updatePwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailsBrowser">
      <soap:operation soapAction="urn:DetailsBrowser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="main">
      <soap:operation soapAction="urn:main" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InfoTransferException">
        <soap:fault use="literal" name="InfoTransferException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStudentScore">
      <soap:operation soapAction="urn:GetStudentScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvalidImg">
      <soap:operation soapAction="urn:InvalidImg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentSignature">
      <soap:operation soapAction="urn:GetStudentSignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InfoTransferSoap12Binding" type="ns:InfoTransferPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updatePrintSub">
      <soap12:operation soapAction="urn:updatePrintSub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePwd">
      <soap12:operation soapAction="urn:updatePwd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailsBrowser">
      <soap12:operation soapAction="urn:DetailsBrowser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="main">
      <soap12:operation soapAction="urn:main" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InfoTransferException">
        <soap12:fault use="literal" name="InfoTransferException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStudentScore">
      <soap12:operation soapAction="urn:GetStudentScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvalidImg">
      <soap12:operation soapAction="urn:InvalidImg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentSignature">
      <soap12:operation soapAction="urn:GetStudentSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InfoTransferHttpBinding" type="ns:InfoTransferPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="updatePrintSub">
      <http:operation location="updatePrintSub" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePwd">
      <http:operation location="updatePwd" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailsBrowser">
      <http:operation location="DetailsBrowser" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="main">
      <http:operation location="main" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentScore">
      <http:operation location="GetStudentScore" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvalidImg">
      <http:operation location="InvalidImg" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentSignature">
      <http:operation location="GetStudentSignature" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfoTransfer">
    <wsdl:port name="InfoTransferHttpSoap11Endpoint" binding="ns:InfoTransferSoap11Binding">
      <soap:address location="http://zhyxtdemo.inf-technology.com:8080/services/InfoTransfer.InfoTransferHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="InfoTransferHttpSoap12Endpoint" binding="ns:InfoTransferSoap12Binding">
      <soap12:address location="http://zhyxtdemo.inf-technology.com:8080/services/InfoTransfer.InfoTransferHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="InfoTransferHttpEndpoint" binding="ns:InfoTransferHttpBinding">
      <http:address location="http://zhyxtdemo.inf-technology.com:8080/services/InfoTransfer.InfoTransferHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>